/dts-v1/;
#include <st/c0/stm32c031X6.dtsi>
#include <st/c0/stm32c031c(4-6)tx-pinctrl.dtsi>

#define USE_SPI_DMA 0

/ {
	model = "Brown Studios Bed Lift board";
	compatible = "brownstudios,bedlift";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
	};

	zephyr,user {
		control-up-gpios = <&gpiob 8 GPIO_ACTIVE_LOW>;
		control-down-gpios = <&gpiob 9 GPIO_ACTIVE_LOW>;
	};

	pwm_set {
		compatible = "pwm-set";

		span_step: span_step {
			pwms = <&pwm17 1 PWM_USEC(100) PWM_POLARITY_NORMAL>;
		};
		lift1_in1: lift1_in1 {
			pwms = <&pwm3 3 PWM_USEC(40) PWM_POLARITY_NORMAL>;
		};
		lift1_in2: lift1_in2 {
			pwms = <&pwm3 2 PWM_USEC(40) PWM_POLARITY_NORMAL>;
		};
		lift2_in1: lift2_in1 {
			pwms = <&pwm3 1 PWM_USEC(40) PWM_POLARITY_NORMAL>;
		};
		lift2_in2: lift2_in2 {
			pwms = <&pwm3 4 PWM_USEC(40) PWM_POLARITY_NORMAL>;
		};
	};

	indicator_status: indicator_status {
		compatible = "color-indicator";

		pwms = <&pwm1 1 PWM_USEC(1000) PWM_POLARITY_NORMAL>,
			<&pwm1 2 PWM_USEC(1000) PWM_POLARITY_NORMAL>,
			<&pwm1 3 PWM_USEC(1000) PWM_POLARITY_NORMAL>;
	};
};

&clk_hsi {
	status = "okay";
};

&rcc {
	clocks = <&clk_hsi>;
	clock-frequency = <DT_FREQ_M(48)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
};

&timers1 {
	/* Divide the 24 MHz clock by 0+1 for timing 1000 Hz LED PWM. */
	st,prescaler = <0>;
	status = "okay";

	pwm1: pwm {
		/* red, green, blue */
		pinctrl-0 = <&tim1_ch1_pa0>, <&tim1_ch2_pa1>, <&tim1_ch3_pa2>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&timers3 {
	/* Divide the 24 MHz clock by 0+1 for timing 25000 Hz motor PWM. */
	st,prescaler = <0>;
	status = "okay";

	pwm3: pwm {
		/* lift2_in1, lift1_in2, lift1_in1, lift2_in2 */
		pinctrl-0 = <&tim3_ch1_pc6>, <&tim3_ch2_pb3>, <&tim3_ch3_pb0>, <&tim3_ch4_pa8>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&timers14 {
	/* Divide the 24 MHz clock by 7+1 for timing 100 Hz span loop ticks. */
	st,prescaler = <7>;
	status = "okay";

    span_loop_tick: counter {
		compatible = "st,stm32-counter";
		status = "okay";
	};
};

&timers17 {
	/* Divide the 24 MHz clock by 3+1 for timing 100 to 25000 Hz span step pulses. */
	st,prescaler = <3>;
	status = "okay";

	pwm17: pwm {
		pinctrl-0 = <&tim17_ch1_pc14>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6>, <&i2c1_sda_pb7>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_sck_pa5>, <&spi1_miso_pa6>, <&spi1_mosi_pa7>;
	pinctrl-names = "default";
	cs-gpios = <&gpioc 15 GPIO_ACTIVE_LOW>;
	status = "okay";

#if USE_SPI_DMA
	dmas = <&dma1 3 17 (STM32_DMA_PERIPH_TX | STM32_DMA_PRIORITY_HIGH)>,
			<&dma1 2 16 (STM32_DMA_PERIPH_RX | STM32_DMA_PRIORITY_HIGH)>;
	dma-names = "tx", "rx";
#endif

	span_stepper: spi-device@0 {
		compatible = "ti,drv8434s";

		status = "okay";
		reg = <0>;
		spi-max-frequency = <10000000>; /* datasheet maximum: 10 MHz */
		/* TODO: These will be needed for Zephyr 4.3, PIO currently has Zephyr 4.2.1.
		spi-cs-setup-delay-ns = <50>;
		spi-cs-hold-delay-ns = <50>;
		*/

		num-devices = <4>;
		fault-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;
		sleep-gpios = <&gpioa 3 GPIO_ACTIVE_LOW>;

		/* Current limit setting
		 *   4: 1.7 A
		 *   5: 1.4 A, circuit board very hot under the drv8434s chip
		 *   6: 1.2 A
		 *   7: 1.0 A
		 *   8: 0.8 A
		 */
		trq-dac = <8>;

		/* Stall threshold
		 * This value seems to be sensitive to step speed.  At 25 mm/s, stall learning
		 * yields a recommended threshold of 2000 but at 5 mm/s it needs to be less than
		 * 100 to avoid premature stalls.
		 */
		stall-th = <50>;
	};
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9>, <&usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	/* status = "okay"; */
};

&iwdg {
	status = "okay";
};

#if USE_SPI_DMA
&dma1 {
	status = "okay";
};
#endif
