/dts-v1/;
#include <st/c0/stm32c051X8.dtsi>
#include <st/c0/stm32c051c8tx-pinctrl.dtsi>

#define USE_SPI_DMA 0

/ {
	model = "Brown Studios Bed Lift board";
	compatible = "brownstudios,bedlift";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &usart1;
	};

	zephyr,user {
		power-5v-en-gpios = <&gpiof 3 GPIO_ACTIVE_HIGH>;

		control-down-gpios = <&gpiob 14 GPIO_ACTIVE_LOW>;
		control-up-gpios = <&gpiob 15 GPIO_ACTIVE_LOW>;

		lift-fault-gpios = <&gpioc 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		lift-sleep-gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
		lift-limit-a-gpios = <&gpiof 0 GPIO_ACTIVE_LOW>;
		lift-limit-b-gpios = <&gpiof 1 GPIO_ACTIVE_LOW>;
		lift1-hall1-gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
		lift1-hall2-gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
		lift2-hall1-gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
		lift2-hall2-gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;

		span1-limit-a-gpios = <&gpiod 0 GPIO_ACTIVE_LOW>;
		span1-limit-b-gpios = <&gpiod 1 GPIO_ACTIVE_LOW>;
		span2-limit-a-gpios = <&gpiod 2 GPIO_ACTIVE_LOW>;
		span2-limit-b-gpios = <&gpiod 3 GPIO_ACTIVE_LOW>;
	};

	pwm_set {
		compatible = "pwm-set";

		span_step: span_step { /* frequency varies at runtime */
			pwms = <&span_step_pwm 1 0 PWM_POLARITY_NORMAL>;
		};

		/* polarity inverted to facilitate use of slow decay mode */
		lift1_in1: lift1_in1 {
			pwms = <&lift_pwm 1 PWM_USEC(40) PWM_POLARITY_INVERTED>;
		};
		lift1_in2: lift1_in2 {
			pwms = <&lift_pwm 2 PWM_USEC(40) PWM_POLARITY_INVERTED>;
		};
		lift2_in1: lift2_in1 {
			pwms = <&lift_pwm 3 PWM_USEC(40) PWM_POLARITY_INVERTED>;
		};
		lift2_in2: lift2_in2 {
			pwms = <&lift_pwm 4 PWM_USEC(40) PWM_POLARITY_INVERTED>;
		};

		indicator_power: indicator_power {
			pwms = <&indicator_pwm 4 PWM_USEC(1000) PWM_POLARITY_INVERTED>;
		};

		sound: sound {
			pwms = <&sound_pwm 1 PWM_USEC(40) PWM_POLARITY_NORMAL>;
		};
	};

	indicator_status: indicator_status {
		compatible = "color-indicator";

		pwms = <&indicator_pwm 1 PWM_USEC(1000) PWM_POLARITY_NORMAL>,
			<&indicator_pwm 2 PWM_USEC(1000) PWM_POLARITY_NORMAL>,
			<&indicator_pwm 3 PWM_USEC(1000) PWM_POLARITY_NORMAL>;
	};
};

&clk_hsi {
	status = "okay";
};

&rcc {
	clocks = <&clk_hsi>;
	clock-frequency = <DT_FREQ_M(48)>;
	ahb-prescaler = <1>;  /* AHB clock at 48 MHz for the CPU core */
	apb1-prescaler = <2>; /* APB clock at 24 MHz for peripherals, TIM clock will be 2x APB so 48 MHz */
};

&exti {
	/* An interrupt decodes quadrature pulses from the lift hall sensors and must capture both edges
	 * of jitter pulses on the order of microseconds to track position.
	 * Set elevated priority for EXTI0-1 and EXTI2-3.  Leave EXTI4-15 at low priority.
	 */
	interrupts = <5 2>, <6 2>, <7 0>;
};

&timers1 {
	/* Divide the 48 MHz TIM clock by 1 (0+1) for timing 25000 Hz lift actuator PWM. */
	st,prescaler = <0>;
	status = "okay";

	lift_pwm: pwm {
		/* lift2_in1, lift1_in2, lift1_in1, lift2_in2, lift_fault */
		pinctrl-0 = <&tim1_ch1_pa0>, <&tim1_ch2_pa1>, <&tim1_ch3_pa2>, <&tim1_ch4_pa3>, <&tim1_bkin2_pc14>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&timers3 {
	/* Divide the 48 MHz TIM clock by 2 (1+1) for timing 1000 Hz LED PWM. */
	st,prescaler = <1>;
	status = "okay";

	indicator_pwm: pwm {
		/* red, green, blue */
		pinctrl-0 = <&tim3_ch1_pc6>, <&tim3_ch2_pc7>, <&tim3_ch3_pc15>, <&tim3_ch4_pa8>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&timers2 {
	/* Divide the 48 MHz TIM clock by 16 (15+1) for timing 100 Hz span loop ticks. */
	st,prescaler = <15>;
	status = "okay";

    span_loop_tick: counter {
		compatible = "st,stm32-counter";
		status = "okay";
	};
};

&timers14 {
	/* Divide the 48 MHz TIM clock by 16 (15+1) for timing 100 Hz lift loop ticks.
	 * We could perhaps share this responsibility with the other timer but we have the hardware
	 * resources available and it's simpler to keep the loops decoupled.
	 */
	st,prescaler = <15>;
	status = "okay";

    lift_loop_tick: counter {
		compatible = "st,stm32-counter";
		status = "okay";
	};
};

&timers16 {
	/* Divide the 48 MHz clock by 8 (7+1) for timing 100 to 25000 Hz span actuator step pulses. */
	st,prescaler = <7>;
	status = "okay";

	/* An interrupt counts every step to track actuator position at high speed.
	 * Requires elevated priority to avoid dropping steps.
	 */
	interrupts = <21 2>;

	span_step_pwm: pwm {
		pinctrl-0 = <&tim16_ch1_pb8>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&timers17 {
	/* Divide the 48 MHz clock by 8 (7+1) for timing 100 to 25000 Hz audible feedback tones. */
	st,prescaler = <7>;
	status = "okay";

	sound_pwm: pwm {
		pinctrl-0 = <&tim17_ch1_pb9>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6>, <&i2c1_sda_pb7>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pb10>, <&i2c2_sda_pb11>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_nss_pa4>, <&spi1_sck_pa5>, <&spi1_miso_pa6>, <&spi1_mosi_pa7>;
	pinctrl-names = "default";
	status = "okay";

#if USE_SPI_DMA
	dmas = <&dma1 3 17 (STM32_DMA_PERIPH_TX | STM32_DMA_PRIORITY_HIGH)>,
			<&dma1 2 16 (STM32_DMA_PERIPH_RX | STM32_DMA_PRIORITY_HIGH)>;
	dma-names = "tx", "rx";
#endif

	span_stepper: spi-device@0 {
		compatible = "ti,drv8434s";

		status = "okay";
		reg = <0>;
		spi-max-frequency = <10000000>; /* datasheet maximum: 10 MHz */
		spi-cs-setup-delay-ns = <50>;
		spi-cs-hold-delay-ns = <50>;

		num-devices = <4>;
		fault-gpios = <&gpiob 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		sleep-gpios = <&gpiob 4 GPIO_ACTIVE_LOW>;

		/* Current limit setting
	     *   0: 100%,   2.50 A peak
		 *   1: 93.75%, 2.34 A peak
		 *   2: 87.5%,  2.19 A peak
		 *   3: 81.25%, 2.03 A peak
		 *   4: 75%,    1.88 A peak, 1.33 A rms
		 *   5: 68.75%, 1.72 A peak
		 *   6: 62.5%,  1.56 A peak
		 *   7: 56.25%, 1.41 A peak
		 *   8: 50%,    1.25 A peak
		 */
		trq-dac = <4>;
	};
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9>, <&usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <1000000>;
	status = "okay";
};

&iwdg {
	status = "okay";
};

#if USE_SPI_DMA
&dma1 {
	status = "okay";
};
#endif
